<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2>Login</h2>
      <!-- <form (submit)="handLogin($event)"> -->
      <form (submit)="handleBasicLogin($event)">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" [(ngModel)]="usernameInput" name="username" placeholder="username" class="form-control" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="passwordInput" name="password" placeholder="password"
            class="form-control" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>
