<div class="container" style="text-align: center;">
  <div style="height: 80px"></div>
  <div class="jumbotron">

    <h1>Welcome {{name}}!</h1>
    <p>
      Heres your to-do lists <button class="btn btn-info" (click)="goToDoListPage()"> ✅ </button>
    </p>

    <div>
      <button class="btn btn-success" (click)="getWelcomeMessage()">Welcome Button</button>
    </div>


  </div>

  <h1 *ngIf="welcomeMessageReceived">{{customMessage}}</h1>
  <h1 *ngIf="errorMessageReceived">{{errorResponse}}</h1>

</div>
